main {
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    gap: 10px;
}

.nav-button {
    text-align: center;
    border: 1px solid #000;
    padding: 5px 10px;
}

.alert {
    background: #369;
    color: #fff;
    padding: 5px 10px;
}

#all-schedules {
    border: 1px solid #000;
    caption-side: top;
}

#all-schedules caption {
    font-size: 1.5em;
    font-weight: bold;
}

#all-schedules th {
    background: #369;
    color: #fff;
    padding: 5px 10px;
}

#all-schedules tbody tr:nth-child(odd) {
    background: #ddd;
    border-bottom: 1px solid #000;
}
