main {
    margin: 0 auto;
    padding: 20px;
}

.nav-link, nav label {
    color: #fff;
}

nav a.active {
    background: #fff;
}

.alert {
    background: #369;
    color: #fff;
    padding: 5px 10px;
}

.schedule-table {
    margin-bottom: 50px;
}

.schedule-table caption {
    font-size: 1.5em;
    text-align: center;
}

table#select-events td:first-of-type, table#select-events th:first-of-type {
    width: 15%;
}

table#select-events td:nth-of-type(2), table#select-events th:nth-of-type(2) {
    width: 70%;
}

table#select-events td:nth-of-type(3), table#select-events th:nth-of-type(3) {
    width: 10%;
}

table#select-events td:last-of-type, table#select-events th:last-of-type {
    width: 5%;
}


