{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Scheduler App Placeholder Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="description" content="Scheduler App Placeholder Description"/>
    <link rel="icon" href="{% static 'img/favicon.svg' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-utilities.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% if message %}
    <p class="alert">
        {{ message }}
    </p>
{% endif %}

<nav>
    <a class="nav-button" href="{% url 'home' %}">Home</a>
    <a class="nav-button" href="{% url 'get_data' %}">Get Data</a>
    {% if events_exist %}
        <a class="nav-button" href="{% url 'parse_data' %}">Parse Data</a>
    {% endif %}
    <a class="nav-button" href="{% url 'admin:index' %}">Django Admin</a>
</nav>
<hr>

{% block content %}
{% endblock content %}
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>