<nav class="navbar bg-primary navbar-expand-lg text-primary">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'get_data' %}">Get Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'parse_data' %}">Parse Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a>
                </li>
            </ul>

            <!-- Timezone Changer 9000 -->
            <form class="d-flex" method="post" action="{% url 'change_tz' %}">{% csrf_token %}
                <label for="select-tz" class="form-label">Change Timezone</label>
                <select id="select-tz" name="select-tz" class="form-select" onchange="this.form.submit()">
                    <option value="America/Los_Angeles">US/Pacific</option>
                    <option value="America/Boise">US/Mountain</option>
                    <option value="America/Chicago">US/Central</option>
                    <option value="America/Los_Angeles">US/Eastern</option>
                    {% for tz in tzs %}
                        <option value="{{ tz }}">{{ tz }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</nav>