<nav class="navbar bg-primary navbar-expand-lg text-primary">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar content -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'select_events' %}">Select Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'selected_events' %}">Selected Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Django Admin</a>
                </li>
            </ul>

            <!-- Timezone Changer 9000 -->
            <form class="d-flex" method="post" action="{% url 'change_tz' %}">{% csrf_token %}
                <label for="select-tz" class="form-label">Change Timezone</label>
                <select id="select-tz" name="select-tz" class="form-select" onchange="this.form.submit()">
                    <option value="{{ current_tz }}" selected>{{ current_tz }}</option>
                    {% for tz in tzs %}
                        {% if tz in common_tzs %}
                            {% if tz == "America/Los_Angeles" %}
                                <option value="{{ tz }}">US/Pacific</option>
                            {% endif %}
                            {% if tz == "America/Denver" %}
                                <option value="{{ tz }}">US/Mountain</option>
                            {% endif %}
                            {% if tz == "America/Chicago" %}
                                <option value="{{ tz }}">US/Central</option>
                            {% endif %}
                            {% if tz == "America/New_York" %}
                                <option value="{{ tz }}">US/Eastern</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ tz }}">{{ tz }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</nav>