<p>
    Data from <a href="https://2024.djangocon.us/schedule/">Django schedule</a> is ready.
</p>
<p>Select the events you'd like to track. Those events will be displayed on the Selected Events page.</p>
{% with events=all_events.Monday day="Monday (09/23)" eid="events-wed" %}
    {% include 'schedule_table.html' %}
{% endwith %}

{% with events=all_events.Tuesday day="Tuesday (09/24)" eid="events-thu" %}
    {% include 'schedule_table.html' %}
{% endwith %}

{% with events=all_events.Wednesday day="Wednesday (09/25)" eid="events-fri" %}
    {% include 'schedule_table.html' %}
{% endwith %}
