<p>
    Data from <a href="https://us.pycon.org/2024/schedule/">PyCon schedule</a> is ready.
</p>
<p>Select the events you'd like to track. Those events will be displayed on the Selected Events page.</p>
{% with events=all_events.Wednesday day="Wednesday (03/15)" eid="events-wed" %}
    {% include 'schedule_table.html' %}
{% endwith %}

{% with events=all_events.Thursday day="Thursday (03/16)" eid="events-thu" %}
    {% include 'schedule_table.html' %}
{% endwith %}

{% with events=all_events.Friday day="Friday (03/17)" eid="events-fri" %}
    {% include 'schedule_table.html' %}
{% endwith %}

{% with events=all_events.Saturday day="Saturday (03/18)" eid="events-sat" %}
    {% include 'schedule_table.html' %}
{% endwith %}

{% with events=all_events.Sunday day="Sunday (03/19)" eid="events-sun" %}
    {% include 'schedule_table.html' %}
{% endwith %}