{% extends '_base.html' %}

{% block content %}
    <main>
        {% with events=all_events.Wednesday day="Wednesday" %}
            {% include 'schedule_table.html' %}
        {% endwith %}

        {% with events=all_events.Thursday day="Thursday" %}
            {% include 'schedule_table.html' %}
        {% endwith %}

        {% with events=all_events.Friday day="Friday" %}
            {% include 'schedule_table.html' %}
        {% endwith %}

        {% with events=all_events.Saturday day="Saturday" %}
            {% include 'schedule_table.html' %}
        {% endwith %}

        {% with events=all_events.Sunday day="Sunday" %}
            {% include 'schedule_table.html' %}
        {% endwith %}
    </main>
{% endblock content %}
