<div class="accordion" id="{{ eid }}">
    <table id="select-events" class="table table-striped schedule-table caption-top">
        <caption>{{ day }}</caption>
        <thead>
        <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Location</th>
            <th>Presenters</th>
            <th>Going?</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.start_time }} - {{ event.end_time }}</td>
                <td>
                    <div class="accordion-item">
                        <h4 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    aria-expanded="false"
                                    data-bs-target="#e{{ event.id }}" aria-controls="e{{ event.id }}">
                                {{ event.title }}
                            </button>
                        </h4>
                        <div id="e{{ event.id }}" class="accordion-collapse collapse"
                             data-bs-parent="#{{ eid }}">
                            <div class="accordion-body">
                                {{ event.description }}
                            </div>
                        </div>
                    </div>
                </td>
                <td>{{ event.location }}</td>
                <td>{{ event.presenters }}</td>
                <td>
                    <!-- Checkbox for selecting an event -->
                    <label for="event{{ event.id }}"></label>
                    <input type="checkbox" hx-post="/select_event/{{ event.id }}" hx-trigger="change"
                           hx-target="#event{{ event.id }}" hx-swap="outerHTML"
                           id="event{{ event.id }}" {{ event.selected }}>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
