{% extends '_base.html' %}

{% block content %}
    <main>
        <h2>Selected Events Displayer 9000</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Event</th>
                <th>Day</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            {% for event in all_selected_events %}
                <tr>
                    <td>
                        <b>{{ event.title }}</b><br>
                        <i>Presenters: {{ event.presenters }}</i>
                    </td>
                    <td>{{ event.day }}</td>
                    <td>{{ event.start_time }} - {{ event.end_time }}</td>
                    <td>{{ event.location }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
